.input-container {
  position: relative;
  margin: 100px;
}

input {
  height: 45px;
  width: 300px;
  padding-left: 45px;
}
.input-container svg {
  position: absolute;
  top: calc(50% - 12px);
  left: 10px;
}